<a href="https://colab.research.google.com/github/JoashD/OOP-58002-Fundamentals-of-phyton/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [4]:
if 5>2:
  print("Five is indeed greater that two")

Five is indeed greater that two

Python Comments

In [3]:
#This is a comment
print("Hello, World")

Hello, World

*Python* Variable

In [7]:
x = "Sally"

a = 0
a,b=0,1
a,b,c=0,1,2

print(x)
print(a)
print(b)
print(c)
print(a,b)
print(a,b,c)

Sally
0
1
2
0 1
0 1 2

Casting

In [8]:
x = int(1)
y = int(2.8)
z = int("3")
print(x)
print(y)
print(z)

1
2
3

Type () Function

In [15]:
a = 8
a = int(8)
b = 6
b = int(6)
c = 4
c = int(4)


print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'int'>
<class 'int'>

Double quotes and single quotes

In [16]:
y ="Max"
Y ='Marc'
print(Y)
print(y)

Marc
Max

Multiple Variables with one value

In [18]:
a=b=c = "1"
print(a)
print(b)
print(c)
print(a,b,c)

1
1
1
1 1 1

*Output* Variable

In [19]:
x = "I am a student"
y = "In Adamson University"
print(x+ "" + "" +y)

I am a studentIn Adamson University

Arithmetic Operations

In [20]:
a = 14
b = 7
print(a+b)

21

Assignment Operators

In [21]:
x = 5

x &= 3

print(x)

1

Comparison Operators

In [26]:
print(a>b)
print(a<b)
print(a==b)

True
False
False

Logical Operators

In [32]:
print(a>b and c==b)
print(a==b and c<b)
print(a==b and c==b)

False
False
False

Identity Operators

In [33]:
a = 5
A = 5
print (a is A)

True

Bitwise Operators

In [34]:
a = 10
b = 4
 
print("a & b =", a & b)

a & b = 0